.header{
	height: 40px;
	color: #21252B;
	background-color: #fff;
	.headerTop{
		height: 40px;
		text-align: right;
		line-height: 40px;
		border-bottom: 1px solid #23A9F2;
		.greetext{
			margin-left: 14px;
		}
	}
}